<div class="main users-new">
  <div class="container">
    <div class="form-heading">New User</div>
    <div class="form users-form">
      <div class="form-body">
        <p>Username</p>
        <input name="name">
        <p>Email</p>
        <input name="email" type="email">      
        <input type="submit" value="Sign Up">
      </div>
    </div>
  </div>
</div>