/* header */
header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: $white;
  font-size: 22px;
  line-height: 64px;
  & a {
    color: $white;
    font-size: 22px;
  }
}

.header-menus {
  float: right;
  padding-right: 20px;
  & li {
    float: left;
    line-height: 64px;
    font-size: $font-text;
    color: $white;
    padding-left: 15px;
  }

  & a {
    float: left;
    font-size: $font-text;
    color: $white;
  }

  & .fa {
    padding-right: 5px;
  }

  & input[type="submit"] {
    padding: 0 20px;
    float: left;
    line-height: 64px;
    color: $white;
    margin: 0;
    font-size: $font-text;
  }
}
